<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>
    <!-- <link rel="stylesheet" href="TL.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}">
</head>
<body>

    <div class="search">
        <form action="/timeline">
            <input type="time" placeholder="Query"> <div class="circile">/</div> <input type="date">
            <br>
            <input type="submit" value="Search">
        </form>
    </div>
    
    <div class="container">
        {% for date_key, entries in data.items() %}
        <div class="father_content">
            <h5 class="headfathercon">Day: {{ date_key }} </h5>
            <div class="content">
                {% for entry_key, entry_data in entries.items() %}
                <h1>Time - <span>{{ entry_data.Time }}</span></h1>
                <hr>
                <div class="imgbox">
                    {% for item in entry_data.data %}
                          
                <form action="/faces/add" method="POST" onclick="formSubmit(this);"   enctype="multipart/form-data"> 
                    <div class="card">
                        <img src="{{ url_for('static', filename='DB/imgs/' + item.id + '.jpg') }}" alt="{{item.id}}">
                        <span style="font-weight: bold;">#{{ get_user(item.id) }}</span>
                        <span><span style="color:green; font-weight: bold;">{{ entry_data.Time }}</span>:<span style="color:red;font-weight: bold">{{ item.sec }}</span></span>
                    </div>
                    <input type="hidden"  name="Id" value="{{item.id}}">
                </form>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
