<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>
    <!-- <link rel="stylesheet" href="TL.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}">
</head>
<body>

    <div class="search">
        <form action="#">
            <input type="text" placeholder="Query"> <div class="circile">/</div> <input type="date">
            <br>
            <input type="submit" value="Search">
        </form>
    </div>
    
    <div class="container">

        <div class="content">
            <h1>Time - <span> 12/03/2024</span></h1>
            <hr>
            <div class="imgbox">
                
                <div class="card">
                    <img src="tbg.jpg" alt="A">
                    <span> #3h4532ikuj</span>
                </div>  

                <div class="card">
                    <img src="https://images.unsplash.com/photo-1568292342316-60aa3d36f4b3?q=80&w=1037&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="A">
                    <span> #3h4532ikuj</span>
                </div>  


                <div class="card">
                    <img src="https://images.unsplash.com/photo-1498550744921-75f79806b8a7?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <span> #3h4532ikuj</span>
                </div>  
            </div>
        </div>


        <div class="content">
            <h1>Time - <span> 12/03/2024</span></h1>
            <hr>
            <div class="imgbox">
                
                <div class="card">
                    <img src="tbg.jpg" alt="A">
                    <span> #3h4532ikuj</span>
                </div>  

                <div class="card">
                    <img src="https://images.unsplash.com/photo-1568292342316-60aa3d36f4b3?q=80&w=1037&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="A">
                    <span> #3h4532ikuj</span>
                </div>  


                <div class="card">
                    <img src="https://images.unsplash.com/photo-1498550744921-75f79806b8a7?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <span> #3h4532ikuj</span>
                </div>  
            </div>
        </div>


        <div class="content">
            <h1>Time - <span> 12/03/2024</span></h1>
            <hr>
            <div class="imgbox">
                
                <div class="card">
                    <img src="tbg.jpg" alt="A">
                    <span> #3h4532ikuj</span>
                </div>  

                <div class="card">
                    <img src="https://images.unsplash.com/photo-1568292342316-60aa3d36f4b3?q=80&w=1037&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="A">
                    <span> #3h4532ikuj</span>
                </div>  


                <div class="card">
                    <img src="https://images.unsplash.com/photo-1498550744921-75f79806b8a7?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <span> #3h4532ikuj</span>
                </div>  
            </div>
        </div>


        <div class="content">
            <h1>Time - <span> 12/03/2024</span></h1>
            <hr>
            <div class="imgbox">
                
                <div class="card">
                    <img src="tbg.jpg" alt="A">
                    <span> #3h4532ikuj</span>
                </div>  

                <div class="card">
                    <img src="https://images.unsplash.com/photo-1568292342316-60aa3d36f4b3?q=80&w=1037&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="A">
                    <span> #3h4532ikuj</span>
                </div>  


                <div class="card">
                    <img src="https://images.unsplash.com/photo-1498550744921-75f79806b8a7?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <span> #3h4532ikuj</span>
                </div>  
            </div>
        </div>







    </div>
    

</body>
</html>