

body{
    background-color: lightgoldenrodyellow;
}
.container{
   background-color: lightsalmon;
   padding: 20px 30px;


}
.vidsec{
    height: 80vh;
    margin-top: 2rem;
    width: 100%;
}

.vidsec > img{
    width: 100%;
    
}

.btn_holder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.btn_holder button{
    width: 20rem;
    padding: 20px;
}
