    

    @import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

    *{
      margin: 0;
      padding: 0;
      overflow: hidden;
  
    }
  
      .vertical-line {
        position: absolute;
        top: 0;
        left: 75%;
        height: 100%;
        width: 2px;
        background-color: black; /* Change the color as needed */
        content: "";
      }
      .horizontal-line {
  
        position: relative; 
        left: 20%;
        top:20%;
        border-top: 2px solid black; 
        padding-top: 40%;
      }
  
      .Left{
          position: absolute;
          left: 0%;
          height: 100%;
          width: 75%;
          background-image : url("/static/images/bg.jpg");
      }
  
      .Right{
          position: absolute;
          height: 100%;
          right: 0%;
          width: 25%;
  
          background-image : url("/static/images/leftbg.jpg");
          
          
          background-repeat: no-repeat;
          background-size: cover;
         
      }
  
      .heading{
          background-color: white;
          text-align: center;
          font-family: 'Phudu', cursive;
          font-size: 2vw;
          font-weight: bold;
  
      }
  
  
  
       .live{
          
        margin-top: 10%;
        margin-left: 10%;
        width: 80%;
        font-family: 'Phudu', cursive;
        font-size: 1vw;
        font-weight: bold;
        
      }
  
      .holder1{
            margin-top: 20px;
            text-align: center;
            padding: 10px;
                      
      }
  
      .cat1{
  
        width: 40%;
        font-family: 'Phudu', cursive;
        font-size: 1vw;
        font-weight: bold;
        margin: 2px;
        
      }
  
  
      .holder2{
            margin-top: 20px;
            text-align: center;
            
      }
  
      .cat2{
  
        width: 25%;
        font-family: 'Phudu', cursive;
        font-size: 1vw;
        font-weight: bold;
        margin: 2px;
        
      }
  
  
      .searchBar{
        /* background-color: aquamarine; */
        position: absolute;
        width: 100%;
        text-align: center;
        margin-top:  100px;
      }
      
      .inputs{
  
        padding: 5px;
        width: 30%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px ;
      }
  
      
        .fa{
          font-size: 15pt;
        }
  
      .btnn{
        position: absolute;
        width: 8%;
        padding: 5px;
        border-radius: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px ;
  
  
      }
  
      .ImgContainer{
  
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 160px;
        height: 80vh;
        overflow-y:scroll;
        font-size: 0.8vw;
      }
  
      .ImgContainer::-webkit-scrollbar{
      display: none;
    }
  
    .ImgContainer::-webkit-scrollbar {
      width: 0 !important
      }
  
      .card{
        /* width: 20px; */
        /* height: 16%; */
        margin: 20px 20px;
  
      }
      .card-text{
        font-size: small;
      }
  
  
      .card-title{
        display: none;
      }
      .holder3{
        margin-top: 100px;
        background-color:white;
        width: 100%;
        font-family: 'Gugi', cursive;
        font-size: 0.8vw;
        font-weight: bold;
        padding: 10px;
        
      }

      .msgholder{
        /* display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start; */
        margin-left: 20px;
        width: 100%;
        height: 30vh;  
        overflow-y: scroll;
      }
      .msgholder::-webkit-scrollbar{
        display: none;
      }
    
      .msgholder::-webkit-scrollbar {
        width: 0 !important
        }
    
      .msg{
        margin: 2px;

      }
      .loggedas{

        color: white;
        margin-top: 20px;
        margin-left: 10px;
        font-family: 'Gugi', cursive;
        font-size: 1.1vw;

      }
 

      .delete-btn {
        display: block;
        margin: 10px auto 0; /* Center the button horizontally */
        width: 80%;
      }
      
      
  
  
  
  