    

    @import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

    *{
      margin: 0;
      padding: 0;
      overflow: hidden;
  
    }
  
  
      .Left{
          position: absolute;
          left: 0%;
          height: 100%;
          width: 100%;
          background-image : url("/static/images/bg.jpg");
      }
  
       

  
  
  
      .searchBar{
        /* background-color: aquamarine; */
        position: absolute;
        width: 100%;
        text-align: center;
        margin-top:  150px;
      }
      
      .inputs{
  
        padding: 5px;
        width: 20%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px ;
      }
  
      
        .fa{
          font-size: 15pt;
        }
  
      .btnn{
        position: absolute;
        width: 5%;
        padding: 5px;
        border-radius: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px ;
  
  
      }
  
      .ImgContainer{
  
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 200px;
        height: 80vh;
        overflow-y:scroll;
        font-size: 0.8vw;
      }
  
      .ImgContainer::-webkit-scrollbar{
      display: none;
    }
  
    .ImgContainer::-webkit-scrollbar {
      width: 0 !important
      }
  
      .card{
        /* width: 20px; */
        /* height: 16%; */
        margin: 20px 20px;
  
      }
      .card-text{
        font-size: small;
      }
  
  
      .card-title{
        display: none;
      }
      .holder3{
        margin-top: 100px;
        background-color:white;
        width: 100%;
        font-family: 'Gugi', cursive;
        font-size: 0.8vw;
        font-weight: bold;
        padding: 10px;
        
      }

      .msgholder{
        /* display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start; */
        margin-left: 20px;
        width: 100%;
        height: 30vh;  
        overflow-y: scroll;
      }
      .msgholder::-webkit-scrollbar{
        display: none;
      }
    
      .msgholder::-webkit-scrollbar {
        width: 0 !important
        }
    
      .msg{
        margin: 2px;

      }
      .loggedas{

        color: white;
        margin-top: 20px;
        margin-left: 10px;
        font-family: 'Gugi', cursive;
        font-size: 1.1vw;

      }
 


      
  
  
  
  